*{
    padding: 0;
    margin: 0;

}

body{
   background-color: rgb(178, 235, 121);
    
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-cabeçalho{
    height: 300px;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    color: #fdfdfd;
    background-color:#291a03;
}

.item-cabeçalho{
    display:inline-block;
    margin: 45px;
    font-size: 35px;
}

h2{
    color:hsl(36, 92%, 15%);
}

.principal{

    
    display: flex;
    justify-content: center;
    align-items: center;
}



.imagem-principal{
    width: 500px;
}

.div-principal{
    width: 45%;
    margin: 80PX;
}

.paragrafo{
text-align:justify ;
}

.principal-titulo{
    padding: 40px 0;
}

h2{
    font-family: 'Rock 3D', cursive;
}

.missão{
    width: 45%;
    padding: 80px;
}