body{
   background-color: #eeab6d;
    
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-cabeçalho{
    height: 300px;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    color: #EBB475;
    background-color:#844B0A;
}

.item-cabeçalho{
    display:inline-block;
    margin: 45px;
    font-size: 35px;
}

h2{
    color: aliceblue;
}